.ICON_FORM{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 650px;
	height: 350px;

	overflow: hidden;
}

.ICON_FORM > iframe{
	width: 100%;
	height: 100%;

	border: none;
}