.RENKEI_LIST{
	overflow: auto;

	width: 100%;
	height: 300px;
}

.RENKEI_ITEM{
	border: solid 1px #9b9b9e;;
	padding: 10px;
	margin: 5px;
}

.RENKEI_ITEM > .SERVICE_INFO{
	vertical-align: middle;
}

.RENKEI_ITEM > .SERVICE_INFO > img{
	vertical-align: middle;

	width: 48px;
	height: 48px;
}

.RENKEI_ITEM > .SERVICE_INFO > span{
	vertical-align: top;
}

.RENKEI_ITEM > .ACCOUNT_INFO{
	margin-top: -25px;
	margin-left: 55px;
}

.RENKEI_ITEM > .ACCOUNT_INFO > a{
	color: black;
	text-decoration: none;
}

.RENKEI_ITEM > .RENKEI_INFO{
	color: gray;
	font-size: 12px;
}