.PROFILE_EDITOR_BG{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;

	background-color: rgba(0, 0, 0, 0.5);

	z-index: 10;
}

.PROFILE_EDITOR{
	padding: 10px;

	z-index: 11;
}

.PROFILE_EDITOR > div > img{
	width: 100px;
	height: 100px;

	vertical-align: middle;
}

.PROFILE_EDITOR > div > input{
	width: calc(100% - 110px);
}

.PROFILE_EDITOR > textarea{
	margin-top: 10px;

	height: 150px;
}

.PROFILE_EDITOR > button{
	margin-top: 10px;
}

.ICON_EDITOR{
	z-index: 12;

	width: 650px;
	height: 350px;

	padding: 0px;
}

.ICON_EDITOR > iframe{
	width: 100%;
	height: 100%;

	border: none;
}